SERVER_URL=localhost:8001

DET__INPUT_SIZE='[320, 320]'
DET__BATCH_SIZE=16
DET__SCORE_THR=0.5
DET__AREA_THR=1600

POSE__INPUT_SIZE='[192, 256]'
POSE__MEAN='[123.675, 116.28, 103.53]'
POSE__STD='[58.395, 57.12, 57.375]'
POSE__MAX_BATCH_SIZE=4
POSE__FLIP_TEST=false
POSE__USE_UDP=false
POSE__POST_PROCESS=default
POSE__SHIFT_HEATMAP=true

CSLR__INPUT_SIZE='[224, 224]'
CSLR__BBOX_MARGIN=0.1
CSLR__CROP_BORDER=10
CSLR__USED_PARTS='["pose", "mouth_half", "hand"]'
CSLR__WINDOW_SIZE=16
CSLR__STRIDE=1
CSLR__BATCH_SIZE=8
CSLR__BLANK_ID=0
CSLR__NUM_CLASSES=1116
CSLR__VOTING_STRATEGY=MAJORITY
CSLR__VOTING_BAG_SIZE=1
CSLR__VOTING_BAG_STRIDE=1