__pycache__/
*.py[cod]
*$py.class

pretrained_models
triton_python_backend_utils.py
environments/
test/*.npy
test/filter_results.json
test/*.png
models/**/*.json
models/**/*.engine
models/**/*.plan
triton_python_backend_stub

/cudnn-linux-x86_64-8.9.7.29_cuda11-archive/
/TensorRT-8.6.1.6.Linux.x86_64-gnu.cuda-11.8/

/analyze/*trace*.json
/analyze/*.png
/test?*/
/models/res50/lib*.so
